 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
    
      <center>
       <h1>        Skiled</h1>
      </center>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg" width = "70" height = "70" />
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      
      
     
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/arduino/arduino-original.svg" width="70" height="70" />
    </div>
    
      
   </div>
