 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Skiled</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" width="50" height="50" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/arduino/arduino-original.svg" />
    </div>
    <div class="tech">
      <h2>Experienced</h2>
      <i class="devicon-android-plain colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg" />
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
   </div>
