 <div class="user-details">
  <div align = "left">
   <h1> About Me </h1>
  
  <p> 안녕하십니까 신입 개발자 김영민 입니다.<br><br> 3가지 목표를 먼저 말씀드리겠습니다. <br>
첫째로 저는 회사에 도움이 되는 사람이 되고 싶습니다. <br> 입사후 도움이 되지 않는 어정쩡한 위치가 되지 않도록 열심히 노력할 것입니다. <br><br>
둘째 입사후 끊임 없이 배워 회사에 이바지하는 사원이 되고 싶습니다. <br> 부족한 점이 있을 수도 있습니다. 즉각적인 피드백 수용으로 매일매일 발전된 모습을 보일 수 있도록 노력하겠습니다.

<br><br> 회사 내 문화에 빠르게 녹아들고 싶습니다.<br>
분위기에 빠르게 녹아들어 선배님들에게 폐 끼치지 않고 나아가 나중에는 분위기도 밝게 만들 수 있는 그런 신입이 되고 싶습니다. <br><br>
열심히 하겠습니다 신입 개발자 김영민 입니다. 
  </div>
</div>
  
