<div class="user-details">
  <center>
    <h1> Activities </h1>
  </center>
</div>
<div class="user-activities">
  
 <center>
  <h3> <li> 2019.06 실전 창업프로젝트 </li> </h3>
  
  <h3> <li> 2020.02 앨범 간단정리어플 특허출원 1020200016039 </li> </h3>
  
  <h3> <li> 2020.04 Ai/SW 아이디어 경진대회 </li> </h3>
  
  
  
  <h3> <li> 2020.10 캡스톤디자인 경진대회 </li> </h3>
  
  
  
  <h3> <li> 2020.11 포렌식 경진대회 우수상 </li> </h3>
  
  
  <h3> <li> 2021.04 AI/SW 아이디어 경진대회 우수상 </li> </h3>
  
  
  <h3> <li> 2021.07 한국컴퓨터정보학회 학술대회 논문 제출 </li> </h3>
  
  
  <h3> <li> 2021.11 쇼미더동서 AI 우수상 </li> </h3>
 </center>
    

</div>


