<div class="user-details">
  <center>
    <h1> Projects </h1>
  </center>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="fruit classfication" src="{{ "/assets/img/114.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 후숙과일 품질 분류 및 숙성도 예측 시스템 </h3>
    <ul>
      <li> Tensor flow</li>
      <li> Python</li>
      <li> OpenCV</li>
    </ul>
    <p>딥러닝 기반 YOLO와 k-mean clustering을 활용해 과일을 인식한 뒤 숙성이 완료될 시간과 상품성을 예측하는 시스템 <br>담당업무 : 모델학습과 이미지 처리, 프론트 엔드</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/rippenfruit">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="food info app" src="{{ "/assets/img/334.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 현대인을 위한 음식 정보 앱 </h3>
    <ul>
      <li> android studio</li>
      <li> Json </li>
      <li> database </li>
      
    </ul>
    <p> 바쁜 현대인의 일상에 많은 부분을 차지하고 있는 인스턴트 음식에 대하여 정보 및 위험사항, 음식 섭취법에 대해 알려주는 앱 <br>담당업무 : 네이버 api연동, 음식 rank출력(메인화면)</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/cloudmin/tree/master/%EC%9D%8C%EC%8B%9D%20%EC%A0%95%EB%B3%B4%20%EC%95%B1">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="randomotp" src="{{ "/assets/img/335.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Random OTP generator </h3>
    <ul>
      <li> arduino</li>
      <li> C </li>
    </ul>
    <p>CNSL 연구회에서 자체개발한 lfsr 탭을 이용해 만든 otp 생성 프로그램  <br>담당업무 : 암호 탭과 코드의 연동 및 개발</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/RandomOTP_Generator">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Rccar" src="{{ "/assets/img/333.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>  인명구조 Rccar  </h3>
    <ul>
      <li> Arduino </li>
     
    </ul>
    <p> 실시간 스트리밍과 쌍방향 통신이 가능한 인명구조용 RCcar  <br>담당업무 : 실시간 스트리밍, 센서와 컴퓨터의 정보 상호교환 </p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/rescueRCCAR">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="fruit classfication" src="{{ "/assets/img/2131.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 이미지 분류 및 유사도 측정 </h3>
    <ul>
      <li> Pytorch</li>
      <li> Python</li>
      <li> OpenCV</li>
    </ul>
    <p>딥러닝 기반 비전 모델 YOLO와 윤곽선 매칭을 활용해 이미지 분류 및 유사도를 측정 하는 시스템<br>담당업무 : 모델학습과 이미지 처리, 이미지 비교 및 개발</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/img-sim-practice">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="fruit classfication" src="{{ "/assets/img/3343.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 옷 분류 시스템 </h3>
    <ul>
      <li> Tensor flow</li>
      <li> Python</li>
      <li> OpenCV</li>
    </ul>
    <p>딥러닝 기반 YOLO와 k-mean clustering을 활용함. 임의의 옷을 통과시키면 옷 파츠의 정보 및 패턴, 색상을 알려주는 프로그램 <br>담당업무 : 모델학습과 이미지 처리, 최종 개발</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/cloth-classification">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="fruit classfication" src="{{ "/assets/img/131313.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 문서 유사도를 활용한 물체 분류 </h3>
    <ul>
      <li> Tensor flow</li>
      <li> Python</li>
      <li> OpenCV</li>
      <li> NLTK</li>
      <li> pandas</li>
    </ul>
    <p>TF-IDF와 랜덤포레스트를 조합하여 물체의 특징을 활용한 분류기 <br>담당업무 : pandas를 통한 데이터프레임 정제, 물체 feature 추출 후 수치화한 뒤 분류기에 학습 및 결과 도출</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/TF-IDF_Randomforest">Project detail</a>
  </div>
</div>
