<div class="user-details">
  <center>
    <h1> Projects </h1>
  </center>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="fruit classfication" src="{{ "/assets/img/114.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 후숙과일 품질 분류 및 숙성도 예측 시스템 </h3>
    <ul>
      <li> Tensor flow</li>
      <li> Python</li>
      <li> OpenCV</li>
    </ul>
    <p>딥러닝 기반 YOLO와 k-mean clustering을 활용해 과일을 인식한 뒤 숙성이 완료될 시간과 상품성을 예측하는 시스템 </p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/rippenfruit">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="food info app" src="{{ "/assets/img/334.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 현대인을 위한 음식 정보 앱 </h3>
    <ul>
      <li> android studio</li>
      <li> Json </li>
      <li> database </li>
      
    </ul>
    <p> 바쁜 현대인의 일상에 많은 부분을 차지하고 있는 인스턴트 음식에 대하여 정보 및 위험사항, 음식 섭취법에 대해 알려주는 앱</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/cloudmin/tree/master/%EC%9D%8C%EC%8B%9D%20%EC%A0%95%EB%B3%B4%20%EC%95%B1">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="randomotp" src="{{ "/assets/img/335.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Random OTP generator </h3>
    <ul>
      <li> arduino</li>
      <li> C </li>
    </ul>
    <p>CNSL 연구회에서 자체개발한 lfsr 탭을 이용해 만든 otp 생성 프로그램</p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/RandomOTP_Generator">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Rccar" src="{{ "/assets/img/333.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>  인명구조 Rccar  </h3>
    <ul>
      <li> Arduino </li>
     
    </ul>
    <p> 실시간 스트리밍과 쌍방향 통신이 가능한 인명구조용 RCcar </p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/rescueRCCAR">Project detail</a>
  </div>
</div>
