<div class="user-details">
  <center>
    <h1> Projects </h1>
  </center>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="114" src="{{ "/assets/img/114.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 후숙과일 품질 분류 및 숙성도 예측 시스템 </h3>
    <ul>
      <li> Tensor flow</li>
      <li> Python</li>
      <li> OpenCV</li>
    </ul>
    <p>딥러닝 기반 YOLO와 k-mean clustering을 활용해 과일을 인식한 뒤 숙성이 완료될 시간과 상품성을 예측하는 시스템 </p>
    <a class="project-link" href="https://github.com/wkdoekofekfoekf/rippenfruit">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> food info app </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> library collecter </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Project detail</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 자율주행  </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Project detail</a>
  </div>
</div>
